<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body ng-app="WebShop">
   
    @Html.Partial("_NavBarPartialView")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Angular-App/App/WebShop.js"></script>

    <script src="~/Angular-App/Controller/ShopUsersListCtrl.js"></script>

    <script src="~/Angular-App/Controller/CreateShopUsersCtrl.js"></script>
    <script src="~/Angular-App/Directive/UploadPhotoDirective.js"></script>
    <script src="~/Angular-App/Routing/WebShopRoute.js"></script>
</body>
</html>